<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Product Page Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .tabela2 {
            font-family: Arial, Helvetica, sans-serif;
            color: #666;
            font-size: 12px;
            text-shadow: 1px 1px 0px #fff;
            background: #eaebec;
            margin: 20px;
            border: #ccc 1px solid;
            border-collapse: separate;

            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;

            -moz-box-shadow: 0 1px 2px #d1d1d1;
            -webkit-box-shadow: 0 1px 2px #d1d1d1;
            box-shadow: 0 1px 2px #d1d1d1;
        }

        .tabela2 th {
            font-weight: bold;
            padding: 21px 25px 22px 25px;
            border-top: 1px solid #fafafa;
            border-bottom: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;

            background: #ededed;
            background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
            background: -moz-linear-gradient(top, #ededed, #ebebeb);
        }

        .tabela2 th:first-child {
            text-align: left;
            padding-left: 20px;
        }

        .tabela2 tr:first-child th:first-child {
            -moz-border-radius-topleft: 3px;
            -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        .tabela2 tr:first-child th:last-child {
            -moz-border-radius-topright: 3px;
            -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        .tabela2 tr {
            text-align: center;
            padding-left: 20px;
        }

        .tabela2 tr td:first-child {
            text-align: left;
            padding-left: 20px;
            border-left: 0;
        }

        .tabela2 tr td {
            padding: 18px;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;

            background: #fafafa;
            background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
            background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
        }

        .tabela2 tr:nth-child(even) td {
            background: #f6f6f6;
            background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
            background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
        }

        .tabela2 tr:last-child td {
            border-bottom: 0;
        }

        .tabela2 tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 3px;
            -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .tabela2 tr:last-child td:last-child {
            -moz-border-radius-bottomright: 3px;
            -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <center><h1>NASI PACJENCI:</h1></center>
                <center>
                    <table class="tabela2" cellspacing='0'>
                        <tr>
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>Wiek</th>
                            <th>Potrzeba lekarska</th>
                            <th>Pesel</th>
                        </tr>
                        <div: th:each="zmienna : ${kluczyk}">
                            <tr>
                                <td><p th:text="${zmienna.name}"></p></td>
                                <td><p th:text="${zmienna.surname}"></td>
                                <td><p th:text="${zmienna.age}"></td>
                                <td><p th:text="${zmienna.requiredDoctorProfession}"></td>
                                <td><p th:text="${zmienna.PESEL}"></td>
                            </tr>
                        </div:>
                    </table>
                </center>
            </div>
        </div>
    </div>
</div>
<hr>
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Chcesz to sobie kopiuj, udostępniaj i w ogóle rób co chcesz. Tylko wcześniej nam zapłać tak na
                    wszelki wypadek.</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="file:///Macintosh HD/Users/szymonpolitowski/Library/Application Support/Adobe/Dreamweaver CC 2018/pl_PL/Configuration/Temp/Assets/eam66f222a7.TMP/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="file:///Macintosh HD/Users/szymonpolitowski/Library/Application Support/Adobe/Dreamweaver CC 2018/pl_PL/Configuration/Temp/Assets/eam66f222a7.TMP/js/popper.min.js"></script>
<script src="file:///Macintosh HD/Users/szymonpolitowski/Library/Application Support/Adobe/Dreamweaver CC 2018/pl_PL/Configuration/Temp/Assets/eam66f222a7.TMP/js/bootstrap-4.0.0.js"></script>
</body>
</html>