<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Product Page Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
<div class="container mt-2">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <form action="/wizyty" method="post">
                    <label for="exampleFormControlSelect1">Wybór pacjenta:</label>

                    <select name="patient" class="form-control" id="exampleFormControlSelect1">
                        <option th:each="zmienna : ${kluczyk1}"
                                th:text="${zmienna.name + ' ' + zmienna.surname + ', wiek: '  + zmienna.age + ' ' + 'PESEL: ' + zmienna.PESEL}"
                                th:value="${zmienna.id}"
                        ></option>
                    </select>

                    <br/>

                    <label for="exampleFormControlSelect2">Wymagana profesja twojego lekarza:</label>
                    <select name="doctor" class="form-control" id="exampleFormControlSelect2">
                        <option th:each="zmienna : ${kluczyk2}" th:value="${zmienna.id}"
                                th:text="${zmienna.profession + ' ' + zmienna.name + ' ' + zmienna.surname}"></option>
                    </select>
                    <br/>

                    <!-- tylko to mi zapisuje do bazy danych visit -->
                    <label for="textfield12">Data wizyty (ROK-MIESIĄC-DZIEŃ):</label>
                    <input type="text" name="date" id="textfield12">
                    <br/>
                    <button type="submit" class="btn btn-lg btn-primary btn-animated">Dodaj wizyte</button>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Chcesz to sobie kopiuj, udostępniaj i w ogóle rób co chcesz. Tylko wcześniej nam zapłać tak na
                    wszelki wypadek.</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="file:///Macintosh HD/Users/szymonpolitowski/Library/Application Support/Adobe/Dreamweaver CC 2018/pl_PL/Configuration/Temp/Assets/eam66f222a7.TMP/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="file:///Macintosh HD/Users/szymonpolitowski/Library/Application Support/Adobe/Dreamweaver CC 2018/pl_PL/Configuration/Temp/Assets/eam66f222a7.TMP/js/popper.min.js"></script>
<script src="file:///Macintosh HD/Users/szymonpolitowski/Library/Application Support/Adobe/Dreamweaver CC 2018/pl_PL/Configuration/Temp/Assets/eam66f222a7.TMP/js/bootstrap-4.0.0.js"></script>
</body>
</html>